---
# Deploy Semaphore application jail
- name: Deploy Semaphore Application Jail
  hosts: jail_hosts
  gather_facts: true
  vars_files:
    - ../group_vars/all/secrets.yml
    - ../group_vars/all/vars.yml

  tasks:
    - name: Create Semaphore jail from base
      include_role:
        name: jail-base
      vars:
        jail_name: semaphore-app
        jail_ip: "{{ hostvars['semaphore-app'].jail_ip }}"
        jail_autostart: "{{ hostvars['semaphore-app'].jail_autostart }}"
        jail_mounts: "{{ hostvars['semaphore-app'].jail_mounts | default([]) }}"

- name: Configure Semaphore in jail
  hosts: jail_hosts
  gather_facts: false
  vars_files:
    - ../group_vars/all/secrets.yml
    - ../group_vars/all/vars.yml

  tasks:
    - name: Install and configure Semaphore with TLS
      include_role:
        name: semaphore
      vars:
        jail_name: semaphore-app
